﻿/* Place custom styles below */
.wrapper {
    padding: 0;
    margin: 1em;
}

.Calender-Div {
    padding: 1em;
    margin: 1em;
}

.clear{
    clear:both;
}

.maandDiv{
    font-size:1.1em;
    clear:left;
}

.salesBlok{
    width:30px; 
    height:30px; 
    float: left; 
    display: inline-block; 
    margin:5px 3px; 
    border: 1px solid black; 
    padding:3px;
    font-size:0.8em;
}

@media only screen and (min-width : 1534px) {
    .blok1 {
        float:left;
        padding: 0;
        margin: 1em;
        width:55%;
        
    }

    .blok2 {
        /*position:fixed;
        top:262px;
        right: 170px;*/
        float:left;
        padding: 0;
        margin: 1em;
        width:37%;
    }
}

@media only screen and (max-width : 1534px) {
    .blok1 {
        clear:left;
        padding: 0;
        margin: 1em;
        width:90%;
    }

    .blok2 {
        clear:left;
        padding: 0;
        margin: 1em;
        width:90%;
    }
}

.dag {
    border: 1px solid #0171C5;
    width: 100px;
    height: 50px;
}

    .dag:hover {
        border: 1px solid #ff6a00;
        cursor: pointer;
    }

    .dag h4 {
        font-size: 1.0em;
        font-weight: 600;
        padding: 3px;
    }

    .dag h5 {
        font-size: 1.2em;
        padding-left: 0.6em;
    }

h3 {
    Font-size: 1.5em;
    font-weight: 600;
    padding: 3px 10px;
    border-bottom: 1px solid #0171C5;
    border-left: 2px solid #0171C5;
}

h4 {
    font-size: 1.1em;
    font-weight: 600;
    margin:2px;
    padding: 2px 10px 2px 2px;
    border: 1px solid #0171C5;
    color: #0171C5;
}

.Buttons {
    margin: 5px 5px;
    padding: 2px 10px;
    font-size: 1em !important;
    border:1px solid black;
    border-radius:4px;
    color: #0171C5;
    text-decoration: none;
}

    .Buttons:hover {
        color: white;
        background-color: #0171C5;
    }

    .Buttons:active {
        background-color: #92c0e0;
    }

#OverurenTable td {
    padding: 3px;
}

#calendarTable {
    border: 1px solid #0171C5;
    padding: 2px;
    margin-top:1em;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

#totalenDiv {
    border: 1px solid #0171C5;
    padding:5px;
    width:300px;
}

.totalen {
    display:block;
    color: #0171C5;
    font-size: 1.3em;
    margin-left:1.2em; 
    padding: 5px;
}

#registratieTBody tr:hover {
    background-color: rgba(194,223,245,0.4);
    /*opacity: 0.4;*/
    cursor: pointer;
}

.row-highlight {
    background-color :rgba(194,223,245,0.4); /*#c2dff5;*/
    /*opacity: 0.4;*/
    cursor:pointer;
}

.row-highlight2 {
    background-color :rgba(194,223,245,0.4); /*#c2dff5;*/
    /*opacity: 0.4;*/
}

.IDLabel {
    width: 20px;
}

.AantalLabel {
    width: 40px;
}

.DatumLabel {
    width: 70px;
}

.NaamLabel {
    width: 120px;
}

.ErrorLabels {
    color: red;
}

.popup {
    position: absolute;
    left: 15%;
    top:10%;
    background-color: white;
    border: 2px solid #0171C5;
    width: 70%;
    height: auto;
    z-index:10;

}

#rendabelBlok{
    margin:10px;
    height:35px;
    border: 1px solid black;
    align-content:center;
}

#rendabelBlok > p{
    margin:5px auto;
    width: 60px;
}

#percentageP{
    font-size:2em;
    /*margin:5px auto;
    width: 60px;*/
}

fieldset{
    width:100%;
    float:left;
}

.rendabelFieldsetLabel{
    width:200px;
    margin:3px;
}

#startdatumTextBox, #einddatumTextBox{
    margin:3px;
}

#spinner{
    float: left;
    width:80px;
    height:80px;
    align-content:center;
}

#spinner > img{
    width: 30px;
    height: 50px;
}

#overlay {
    position:fixed;
    left:0;
    top:0;
    background-color: black;
    opacity:0.4;
    width:100%;
    height: 100%;
    z-index:5;
}

#SaveSpinner {
    position:fixed;
    top:50%;
    left:50%;
    margin-left: -40px;
    margin-top: -40px;
    width:80px;
    height:80px;
    align-content:center;
    padding:10px;
    background-color: white;
    border:2px solid #0171C5;
    z-index:6;
}

#SaveSpinner img{
    width:30px;
    height:50px;
    padding:15px 25px;
}

#closediv {
    width: 100%;
    text-align: right;
    background-color: #dddada;
}

.popupContent {
    padding: 1em;
    font-size: 1.2em;
}

/*#dagDiv, #rendabelDiv{
    height:auto;
    padding:5px;
}*/

.footerCloseDiv {
    text-align: right;
    padding: 4px;
    width: 100%;
}



